name: Build and Push Docker Image

on:
    push:
        branches:
            - master

permissions:
    id-token: write
    contents: read

jobs:
    build:
        runs-on: ubuntu-latest

        env:
            ACR_NAME: ${{ secrets.ACR_NAME }}
            IMAGE_NAME: omada-controller
            IMAGE_TAG: ${{ github.sha }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Azure Login with Federated Identity
              uses: azure/login@v2
              with:
                  client-id: ${{ secrets.AZURE_CLIENT_ID }}
                  tenant-id: ${{ secrets.AZURE_TENANT_ID }}
                  subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

            - name: Log in to ACR
              run: az acr login --name ${{ env.ACR_NAME }}

            - name: Build & Push Omada Controller
              run: |
                  docker pull mbentley/omada-controller:6.0
                  docker tag mbentley/omada-controller:6.0 ${{ env.ACR_NAME }}.azurecr.io/omada-controller:${{ env.IMAGE_TAG }}
                  docker push ${{ env.ACR_NAME }}.azurecr.io/omada-controller:${{ env.IMAGE_TAG }}

            - name: Deploy to Web App
              if: github.ref == 'refs/heads/develop'
              run: |
                  az webapp config container set \
                    --name ${{ secrets.APP_NAME }} \
                    --resource-group ${{ secrets.AZURE_RESOURCE_GROUP }} \
                    --docker-custom-image-name ${{ env.ACR_NAME }}.azurecr.io/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} \
                    --docker-registry-server-url https://${{ env.ACR_NAME }}.azurecr.io